@font-face {
  font-family: "iconfont"; /* Project id 2857321 */
  src: url('iconfont.woff2?t=1738309150649') format('woff2'),
       url('iconfont.woff?t=1738309150649') format('woff'),
       url('iconfont.ttf?t=1738309150649') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-error:before {
  content: "\e839";
}

.icon-chat:before {
  content: "\e620";
}

.icon-github:before {
  content: "\e885";
}

.icon-flower:before {
  content: "\e626";
}

.icon-code:before {
  content: "\e695";
}

.icon-sidebar:before {
  content: "\e7c2";
}

.icon-arrow-up:before {
  content: "\e610";
}

.icon-config:before {
  content: "\e625";
}

.icon-literature:before {
  content: "\e66d";
}

.icon-arrow-right:before {
  content: "\e687";
}

.icon-arrow-left:before {
  content: "\e685";
}

.icon-dantupailie:before {
  content: "\e601";
}

.icon-love:before {
  content: "\e85c";
}

.icon-about:before {
  content: "\e7a6";
}

.icon-categories:before {
  content: "\e72c";
}

.icon-zhihu:before {
  content: "\e893";
}

.icon-home:before {
  content: "\e600";
}

.icon-bilibili:before {
  content: "\e75c";
}

.icon-email:before {
  content: "\e77e";
}

.icon-qq:before {
  content: "\e882";
}

