{% import "components.html" as components %}

<!DOCTYPE html>
<html lang="zh-Hans" class="scroll-smooth">

<head>
  <meta charset="utf-8">
  <link rel="manifest" href="/manifest.json" crossorigin="use-credentials" />
  <title> 柳下川的博客 </title>
  {{ components::head_scripts() }}
</head>

<body class="flex" id="body" onscroll=SetCookie("scroll",document.documentElement.scrollTop); onload="scrollback();">
  <div class="flex flex-rol grow">
    <div class="content w-80 flex flex-col break-words pr-2 grow
                border-r-2 border-neutral-1000 bg-[#2c3032]
                [&_p]:opacity-[0.86] [&_a:hover]:decoration-wavy">
      <div class="break-words min-h-screen mb-10"> {% block content %} {% endblock %} </div>
      {{ components::footer() }}
    </div>

    <div class="sidebar flex flex-col w-fit">
      {{ components::blog_info() }}
      {{ components::avatar() }}
    	<div class="px-2 pt-1 border-b-2 border-dashed py-3"> 
    		<div class="list-none pl-0" id="menu">
          {{ components::navigation_item(text="首页", href="/", iconfont="home", notification="哼, 这里我当然熟悉了") }}  
          {{ components::navigation_item(text="编程", href="/programming", iconfont="code", notification="别指望我能帮你什么 自己解决!") }}  
          {{ components::navigation_item(text="幻想", href="/fantasy", iconfont="flower", notification="哦? 有点意思") }}  
          {{ components::navigation_item(text="错误", href="/404", iconfont="error", notification="都说了是错误啊!!!") }}  
        </div>
      </div>
      {{ components::toc() }}
    </div>

    {{ components::floating_botton() }}
    {{ components::floating_notification() }}

  </div>


  {{ components::body_scripts() }}
</body>

</html>
